* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: "monospace";
    font-weight: "bold";
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

.dropbtn {
  background-color: #382835;
  color: #93a48f;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1F618D;
}
#showcase {
    background: #333 url('https://wallpaperaccess.com/full/8351186.gif') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

#navbar {
    display: flex;
    position: sticky;
    top:0;
    background: #382835;
    color: #382835;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #382835;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #382835;
    border-radius: 5px;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align:center;
}

.text-primary {
    color: #f4f4f4;
}

.bg-light {
    background:  #333;
    color: #f4f4f4;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-primary {
    background: #1F618D;
    color: #fff;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1;
}
.s-heading {
    font-size: 2rem;
    margin-top: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.logo {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
    display: inline-block;
    color: #fff;
    background: #1F618D;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #35637e;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

