body {
  background-color: #1f2335;
}

p {
	color: #737aa2;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
}
code {
	font-family: monospace;
	color: #737aa2;
	padding: 2px;
	white-space: normal;
	font-size: 100%;
	font-weight: bold;
}
