body {
  background-color: #1f2335;
}

p {
	color: #737aa2;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
}


a:link {
	color: #737aa2;
	text-decoration: underline;
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
}
a:hover {
	color: #737aa2;
	font-family: monospace;
	font-weight: bold;
	font-size:20px;
	text-decoration: none;
}
a:visited {
	color: #737aa2;
	font-family: monospace;
	font-weight: bold;
	font-size:1px;
}
code {
	font-family: monospace;
	color: #737aa2;
	padding: 2px;
	white-space: normal;
	font-size: 100%;
	font-weight: bold;
}
